<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    .forms{
      justify-content: center;
      display: flex;
      border: 5px solid #3399ff;
      margin-left: 500px;
      margin-right: 500px;

    }
    h1{
      margin-top: 100px;
      text-align: center;
      color: #3399ff;
    }
    input{
      border-radius: 30px;
      padding:10px 10px;
      margin: 4px 0;

    }
    </style>
  </head>
  <body>
    <h1>Registration for DataBeat Internship</h1>
    <div class="forms">
    <form>
    <h2>Enter name:</h2>
    <input type="text" name="user" placeholder="enter name"><br>
    <h2>Enter stream in BTech:</h2>
    <input type="text" name="user" placeholder="enter stream"><br>
    <h2>Enter percentage:</h2>
    <input type="text" name="user" placeholder="enter percentage"><br>
    <input type="submit" name="signup">
  </form>
</div>
  </body>
</html>
